body {
    background-color : #292853;
}

@font-face {
    font-family: myH1;
    src: url(Poppins-Light.ttf);
}

@font-face {
    font-family: myH2;
    src: url(h2.ttf);
}

h1 {
    font-family: myFont;
    font-size: 50px;
    color: #f1f1f1;
}

h2 {
    font-family: myFont;
    font-size: 30px;
    color: #f1f1f1;
}

